{% extends "TLCoreBundle::layout.html.twig" %}

{% block title %}
    Choississez quand venir - {{ parent() }}
{% endblock title %}

{% block body %}
    <div class="container">
        <h1>Billetterie</h1>
        <div class="row">
            <div class="col-md-8">
                {% include "TLCoreBundle:Core:inc/sidebarInformations.html.twig" %}
                {% include "TLCoreBundle:Core:inc/sidebarTarifs.html.twig" %}
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading panel-img-box">
                        <img class="img-responsive" src="{{ asset('img/louvre.jpg') }}" alt="Photo du musée du Louvre">
                    </div>
                    <div class="panel-body">
                        {{ form(form) }}
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock body %}
