<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Le Louvre</a>
        </div>
    </div>
</nav>

<div class="container-fluid bk_breadcrumb">
    <div class="container">
        {{ wo_render_breadcrumbs() }}
    </div>
</div>