<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Le Louvre</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <ol class=" breadcrumb container">
        <li><a href="#">Choix de la date</a></li>
        <li><a href="#">Renseignement</a></li>
        <li class="active">Récapitulatif</li>
    </ol>
</div>