<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Informations</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td class="lead"><span class="glyphicon glyphicon-time text-success" aria-hidden="true"></span></td>
                    <td>Schedule</td>
                    <td>Monday, tuesday, saturday, sunday : 9am - 6pm. wednesday, friday : 9am - 9:45 pm.</td>
                </tr>
                <tr>
                    <td class="lead"><span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span></td>
                    <td>Closed</td>
                    <td>Every Tuesday and May 1st, November 1st and December 25th</td>
                </tr>
                <tr>
                    <td class="lead"><span class="glyphicon glyphicon-info-sign text-info" aria-hidden="true"></span></td>
                    <td>Types</td>
                    <td>Whole day & half-day (from 2pm).</td>
                </tr>
                <tr>
                    <td class="lead"><span class="glyphicon glyphicon-alert text-warning" aria-hidden="true"></span></td>
                    <td>Important</td>
                    <td>It is not possible to book for Sunday</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>