<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Informations</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td class="lead"><span class="glyphicon glyphicon-time text-success" aria-hidden="true"></span></td>
                    <td>Horaires</td>
                    <td>Lundi, jeudi, samedi, dimanche : 9h00 - 18h00. Mercredi, vendredi : 9h00 - 21h45.</td>
                </tr>
                <tr>
                    <td class="lead"><span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true"></span></td>
                    <td>Fermé</td>
                    <td>Tout les mardi, 1er mai, 1er novembre et 25 décembre</td>
                </tr>
                <tr>
                    <td class="lead"><span class="glyphicon glyphicon-info-sign text-info" aria-hidden="true"></span></td>
                    <td>Types</td>
                    <td>Journée et demi-journée (à partir de 14h00).</td>
                </tr>
                <tr>
                    <td class="lead"><span class="glyphicon glyphicon-alert text-warning" aria-hidden="true"></span></td>
                    <td>Important</td>
                    <td>Il n'est pas possible de réservé pour le dimanche</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>