<div class="panel panel-default">
    <div class="panel-heading">
        <h3><span class="glyphicon glyphicon-eur" aria-hidden="true"></span> Tarifs</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>Normal</td>
                    <td>From 12 years old</td>
                    <td>16 €</td>
                </tr>
                <tr>
                    <td>Children</td>
                    <td>From 4 years old</td>
                    <td>8 €</td>
                </tr>
                <tr>
                    <td>Senior</td>
                    <td>From 60 years old</td>
                    <td>12 €</td>
                </tr>
                <tr>
                    <td>Reduced price</td>
                    <td>With supporting documents</td>
                    <td>10 €</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>