<div class="panel panel-default">
    <div class="panel-heading">
        <h3><span class="glyphicon glyphicon-eur" aria-hidden="true"></span> Tarifs</h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>Normal</td>
                    <td>à partir de 12 ans</td>
                    <td>16 €</td>
                </tr>
                <tr>
                    <td>Enfant</td>
                    <td>à partir de 4 ans</td>
                    <td>8 €</td>
                </tr>
                <tr>
                    <td>Senior</td>
                    <td>à partir de 60 ans</td>
                    <td>12 €</td>
                </tr>
                <tr>
                    <td>Prix réduit</td>
                    <td>justificatis à présenter</td>
                    <td>10 €</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>